@import './basic.css';

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    width: 327px;
    margin: 153px auto;
    padding: 1.78rem 1.5rem;
    border-radius: 15px;
    background: var(--gradient);
}

.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--grey-900);
}

.icon {
    width: 14px;
    height: 13px;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.title {
    font-size: var(--font-size-title-mobile);
    line-height: var(--line-height-title-mobile);
    font-weight: var(--font-weight-bold);
    color: var(--white);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.form_fieldset {
    display: flex;
    gap: var(--spacing-200);
    border: none;
}

.form_field {
    position: relative;
}

.form_label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-rating-mobile);
    line-height: var(--line-height-interactive-mobile);
    letter-spacing: var(--letter-spacing-interactive-mobile);

    transition: color 250ms ease-in;
}

.form_input {
    appearance: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
    padding: var(--spacing-100) var(--spacing-200);
    border-radius: 21px;
    
    background-color: var(--grey-900);
    cursor: pointer;

    transition: background-color 250ms ease-in;
}

.form_input:checked {
    background-color: var(--white);
}

.form_input:hover {
    background-color: var(--orange);
}

.form_input:checked + .form_label,
.form_input:hover + .form_label {
    color: var(--grey-900);
}

.form_button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px;
    padding: var(--spacing-200) var(--spacing-1300);
    border-color: transparent;
    border-radius: 22.5px;

    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-interactive-mobile);
    letter-spacing: var(--letter-spacing-interactive-mobile);
    text-transform: uppercase;

    background-color: var(--orange);

    transition: background-color 250ms ease-in;
}

.form_button:hover,
.form_button:focus,
.form_button:active {
    background-color: var(--white);
}

.card--thanks {
    gap: var(--spacing-300);
    padding: var(--spacing-400) var(--spacing-300);
    text-align: center;
}

.card_img--thanks {
    width: 144px;
    height: 96px;
    margin: auto;
}

.message {
    width: 168px;
    margin: auto;
    padding: 0.38rem var(--spacing-200);
    border-radius: 22.5px;
    color: var(--orange);
    background-color: var(--grey-900);
}

.is-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .card {
        gap: var(--spacing-400);
        width: 412px;
        padding: 2.16rem 1.91rem;
        margin: 192px auto;
        border-radius: 30px;
    }

    .card_img {
        width: 48px;
        height: 48px;
        border-radius: 28px;
    }

    .icon {
        width: 17px;
        height: 16px;
    }

    .title {
        font-size: var(--font-size-title-desktop);
        line-height: var(--line-height-title-desktop);
    }
    
    .form {
        gap: var(--spacing-400);
    }

    .form_fieldset {
        gap: var(--spacing-300);
    }

    .form_label {
        font-size: var(--font-size-rating-desktop);
        line-height: var(--line-height-interactive-desktop);
        letter-spacing: var(--letter-spacing-rating-desktop);
    }

    .form_input {
        width: 51px;
        height: 51px;
        padding: var(--spacing-200) var(--spacing-300);
        border-radius: 25.5px;
    }

    .form_button { 
        padding: 0.375rem var(--spacing-1700);
        line-height: var(--line-height-interactive-desktop);
        letter-spacing: var(--letter-spacing-button-desktop);
    }

    .card--thanks {
        gap: var(--spacing-400);
        padding: var(--spacing-500) var(--spacing-400);
    }

    .card_img--thanks {
        width: 162px;
        height: 108px;
    }

    .message {
        width: 193px;
    }
}